* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}


/*========== common ==========*/

.btn {
    display: inline-block;
    min-width: 98px;
    background: #0F1B4C;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
    padding: 18px 16px;
}

.btn:hover {
    background-color: antiquewhite;
    color: red;
}

a {
    text-decoration: none;
}

.content {
    width: 1110PX;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}


/* ============ header =============*/

.fixed-header {
    background-color: #E6F0FF;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    background: #E6F0FF;
    height: calc(100vh - 90px);
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: #0F1B4C;
    margin-right: 18px;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.hero {
    padding-top: 130px;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    margin-top: 8px;
    color: #000336;
}

.hero .info {
    width: 51%;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #5A6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}


/* ============ clients =============*/

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}


/* ============ guides =============*/

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    Width: 459px;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
}


/* == list-guides =====*/

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guide .guide-item {
    margin: 0 70px;
    text-align: center;
}

.list-guide .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3B3C45;
}

.list-guide .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689FF;
}

.guide-item .arrow {
    margin-left: 8px;
}


/* == guide-cta =====*/

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}


/* ============ featured =============*/

.featured {
    margin-top: 41px;
    background: #F5FAFE;
    padding: 110px;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689FF;
}

.featured .arrow {
    margin-left: 8px;
}


/* == list =====*/

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    background-color: white;
    border-radius: 12px;
}

.featured .list .body {
    padding: 17px 20px 24px;
}

.featured .list .body .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 20px;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5px;
    color: #A3A6AB;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.featured .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}


/* ============ stats =============*/

.stats {
    margin-top: 75px;
    padding: 50px;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats-trend .separate {
    margin-top: 25.51px;
    width: 193.62px;
    height: 1.2px;
    background: #E9E9E9;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.stats .desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}


/* ============ subcription =============*/

.subcription {
    margin-top: 90px;
}

.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subcription .info {
    width: 671px;
    padding: 0 80px;
}

.subcription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    color: #FFFFFF;
}

.subcription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.subcription .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: white;
    font-size: 1.3rem;
    color: #002366;
}

.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}


/* ============ footer =============*/

.footer {
    margin-top: 55px;
}

.footer .row {
    display: flex;
    padding: 50px 0 58px;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-weight: 600;
    font-size: 2rem;
    color: #1C1C1D;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
    white-space: nowrap;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7A7A7E;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 28px;
    height: 28px;
    background: #F9F9F9;
}

.footer .social-link+.social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background-color: #e0dbdb;
}

.footer .row-bottom {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copy-right {
    font-weight: 400;
    font-size: 1.4rem;
    color: #C2C2C2;
}